#header{

    width:500px;
    border: dotted;
}

#navigation{

    width:500px;
    border: dotted;
}

#content{
    width:500px;
    border: dotted;
}

#footer{
    clear: both;
    width:500px;
}

img {
    width: 150px;
    position: inherit;
}

#pic {

    height: 400px;
    border: dotted;
    width: 50%;
}

#text {

    height: 400px;
    width:50%;
    float: left;
    border: dotted;
}
