#header{

    width:500px;

}

#navigation{

    width:500px;

}

#content{
    width:500px;
    border-bottom: dotted;

}

#footer{
    clear: both;
    width:500px;

}

img {
    width: 250px;
    position: absolute;

}

#pic {

    height: 400px;
    width: 250px;
}

#text {

    height: 400px;
    width:50%;
    float: left;

}

#form{

    padding-left: 50px;

}

a{

    background-color: crimson;

}

#blogtext1, #blogtext2{

    border-bottom: dotted;

}

p, h1{
    font-family: serif;
    color: blue;
}